<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD  Responsável Financeiro</title>
  </head>
  <body>
    <h1>CRUD de Responsável Financeiro</h1>

    <!-- Formulário para adicionar ou editar associação entre curso e disciplina -->
    <form action="/editar_ResponsavelFinanceiro" method="POST">
      <!-- Select para escolher o curso -->
      <label for="id_responsavel_financeiro">Usuário:</label>
      <select id="id_responsavel_financeiro" name="id_responsavel_financeiro" required>
        <% usuarios.forEach(function(usuario) { %>
        <option value="<%= usuario.idUsuario %>" data-id="<%= usuario.idUsuario %>">
          <%= usuario.nome_usuario %>
        </option>
        <% }); %>
      </select>
      <br />

    

      <!-- Botões para confirmar a inclusão ou edição -->
      <button type="submit" name="action" value="alterar">Alterar</button>
      <button type="submit" name="action" value="incluir">Incluir</button>
      <input type="hidden" id="id_responsavel_financeiro" name="id_responsavel_financeiro"/>
    </form>

    <!-- Tabela para exibir as associações entre curso e disciplina -->
    <h2>Associações entre Usuario e Responsavel financeiro</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% responsavel_financeiros.forEach(function(responsavel_financeiro) { %>
        <tr>
          <td><%= responsavel_financeiro.usuario.nome_usuario %></td>
          <td>
            <!-- Botão para editar associação -->
            <button
              onclick="preencherFormulario('<%= responsavel_financeiro.usuario.nome_usuario %>',  '<%= responsavel_financeiro.id_responsavel_financeiro %>')"
            >
              Editar
            </button>
            <!-- Formulário para excluir associação -->
            <form
              action="/excluir_responsavel_financeiro/<%= responsavel_financeiro.id_responsavel_financeiro %>"
              method="POST"
            >
              <button type="submit">Excluir</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script>
      // Função para preencher os campos do formulário ao clicar em editar
      function preencherFormulario(Usuario_idUsuario,id_responsavel_financeiro) {
        document.getElementById("Usuario_idUsuario").value = Usuario_idUsuario;
        document.getElementById("id_responsavel_financeiro").value = id_responsavel_financeiro;
      }
    </script>
  </body>
</html>
