<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD Responsável Financeiro</title>
  </head>
  <body>
    <h1>CRUD de Responsável Financeiro</h1>

    <!-- Formulário para adicionar ou editar associação entre curso e disciplina -->
    <form action="/editar_ResponsavelFinanceiro" method="POST">
      <!-- Select para escolher o usuario -->
      <label for="usuario">Usuário:</label>
      <select id="usuario" name="usuario" required>
        <% usuarios.forEach(function(usuario) { %>
        <option value="<%= usuario.idUsuario %>" data-id="<%= usuario.idUsuario %>">
          <%= usuario.nome_usuario %>
        </option>
        <% }); %>
      </select>
      <br/>

    

      <!-- Botões para confirmar a inclusão ou edição -->
      <button type="submit" name="action" value="alterar">Alterar</button>
      <button type="submit" name="action" value="incluir">Incluir</button>
      <input type="hidden" id="id_responsavel_financeiro" name="id_responsavel_financeiro"/>
    </form>

    <!-- Tabela para exibir as associações entre curso e disciplina -->
    <h2>Associações entre Usuario e Responsavel financeiro</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% usuarioresponsavelfinanceiros.forEach(function(usuarioresponsavelfinanceiro) { %>
        <tr>
          <td><%= usuarioresponsavelfinanceiro.nome_usuario %></td>
          <td>
            <!-- Botão para editar associação -->
            <button
              onclick="preencherFormulario('<%= usuarioresponsavelfinanceiro.id_responsavel_financeiro %>', '<%= usuarioresponsavelfinanceiro.idUsuario %>')"
            >
              Editar
            </button>
            <!-- Formulário para excluir associação -->
            <form
              action="/excluir_responsavelFinanceiro/<%= usuarioresponsavelfinanceiro.id_responsavel_financeiro %>"
              method="POST"
            >
              <button type="submit">Excluir</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script>
      // Função para preencher os campos do formulário ao clicar em editar
      function preencherFormulario(
        id_responsavel_financeiro,
        usuario,
      ) {
        document.getElementById("id_responsavel_financeiro").value = id_responsavel_financeiro;
        document.getElementById("usuario").value = usuario;
      }
    </script>
  </body>
</html>
