<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD Aluno</title>
  </head>
  <body>
    <h1>CRUD de Aluno</h1>

    <!-- Formulário para adicionar ou editar associação entre usuario e aluno -->
    <form action="/editar_Aluno" method="POST">
      <!-- Select para escolher o aluno -->
      <label for="usuario">Usuário:</label>
      <select id="usuario" name="usuario" required>
        <% usuarios.forEach(function(usuario) { %>
        <option value="<%= usuario.idUsuario %>" data-id="<%= usuario.idUsuario %>">
          <%= usuario.nome_usuario %>
        </option>
        <% }); %>
      </select>
      <br/>
      <label for="Alunocol">Alunocol:</label>
      <input type="text" id="Alunocol" name="Alunocol" required>
      <br>


      <!-- Botões para confirmar a inclusão ou edição -->
      <button type="submit" name="action" value="alterar">Alterar</button>
      <button type="submit" name="action" value="incluir">Incluir</button>
      <input type="hidden" id="id_aluno" name="id_aluno"/>
    </form>

    <!-- Tabela para exibir as associações entre curso e disciplina -->
    <h2>Associações entre Usuario e Coordenador</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Alunocol</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <%= usuarioalunos.forEach(function(usuarioaluno) { %>
        <tr>
          <td><%= usuarioaluno.nome_usuario %></td>
          <td><%= alunos.find(aluno => aluno.id_aluno === usuarioaluno.id_aluno)?.Alunocol% ></td>
          <td>
            <!-- Botão para editar associação -->
            <button
              onclick="preencherFormulario('<%= usuarioaluno.id_aluno %>', '<%= usuarioaluno.idUsuario %>', '<%= alunos.find(aluno => aluno.id_aluno === usuarioaluno.id_aluno)?.Alunocol %>')"
            >
              Editar
            </button>
            <!-- Formulário para excluir associação -->
            <form
              action="/excluir_aluno/<%= usuarioaluno.id_aluno %>"
              method="POST"
            >
              <button type="submit">Excluir</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script>
      // Função para preencher os campos do formulário ao clicar em editar
      function preencherFormulario(
        id_aluno,
        usuario,
        Alunocol,
      ) {
        document.getElementById("id_aluno").value = id_aluno;
        document.getElementById("usuario").value = usuario;
        document.getElementById("Alunocol").value = Alunocol;
      }
    </script>
  </body>
</html>
