<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD Curso</title>
  </head>
  <body>
<%- include('navbar') %>
    <h1>CRUD de Curso</h1>

    <!-- Formulário para adicionar ou editar associação entre curso e disciplina -->
    <form action="/editar_curso" method="POST">
      <!-- Select para escolher o coordenador -->
      <label for="coordenador">Coordenador:</label>
      <select id="coordenador" name="coordenador" required>
        <% usuariocoordenadores.forEach(function(usuariocoordenador) { %>
        <option value="<%= usuariocoordenador.id_Coordenador %>" data-id="<%= usuariocoordenador.id_Coordenador %>">
          <%= usuariocoordenador.nome_usuario %>
        </option>
        <% }); %>
      </select>
      <br />

      <!-- Campo para o nome do curso -->
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required />
      <br />

      <!-- Botões para confirmar a inclusão ou edição -->
      <button type="submit" name="action" value="alterar">Alterar</button>
      <button type="submit" name="action" value="incluir">Incluir</button>
      <input type="hidden" id="id_curso" name="id_curso"/>
    </form>

    <!-- Tabela para exibir as associações entre curso e coordenador -->
    <h2>Associações entre Curso e Coordenador</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Coordenador</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% coordenadorcursos.forEach(function(coordenadorcurso) { %>
        <tr>
          <td><%= coordenadorcurso.nome_usuario %></td>
          <td><%= coordenadorcurso.nome %></td>
          <td>
            <!-- Botão para editar associação -->
            <button onclick="preencherFormulario('<%= coordenadorcurso.id_curso %>', '<%= coordenadorcurso.id_Coordenador %>', '<%= coordenadorcurso.nome %>')">Editar</button>
            <!-- Formulário para excluir associação -->
            <form action="/excluir_curso/<%= coordenadorcurso.id_curso %>" method="POST">
              <button type="submit">Excluir</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script>
      function preencherFormulario(id_curso, coordenador, nome) {
        document.getElementById("id_curso").value = id_curso;
        document.getElementById("coordenador").value = coordenador;
        document.getElementById("nome").value = nome;
      }
    </script>
  </body>
</html>
